# MISSING VALUES

In [3]:
df.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [4]:
df.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

# There 3 strategies to go about it :<br>1)Delete the missing values <br>2)Impute with 9999,mean,median,mode<br>3)forwardfill and backfill

#

### 1) Delete the missing values

In [5]:
# we can apply this for whole dataset
df_clean = df.dropna()

In [6]:
df_clean.isnull().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64

In [7]:
#alternate method

df_clean2 = df.notnull()

In [8]:
df_clean2.isnull().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64

In [24]:
#Subsetting Dataset: creating new dataset where "PREVAILING_WAGE" column has non-missing values
df_new = df[df['PREVAILING_WAGE'].notnull()]

In [26]:
df_new.isnull().sum() # we can see that PREVAILING_WAGE no missing values but others do.

Unnamed: 0                 0
CASE_STATUS                0
EMPLOYER_NAME             42
SOC_NAME               17717
JOB_TITLE                 26
FULL_TIME_POSITION         0
PREVAILING_WAGE            0
YEAR                       0
WORKSITE                   0
lon                   107229
lat                   107229
dtype: int64

# 2) Impute with 9999,mean ,median or mode

In [32]:
# lets start with 9999 using the fillna() method

df_9999 = df.fillna(9999)
df_9999.isnull().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64

In [37]:
df_9999.head(10)
# why to use 9999? because NaN cannot be detected nor can be used as a condition to filter because its neither 
# a string nor numeric value

'why to use 9999? because NaN cannot be detected nor can be used as a condition to filterbecause its neither \na string nor numeric value'

In [39]:
#impute with mean:for a specific column
 df['lon'].fillna(df['lon'].mean(),inplace = True) 
#here using fillna we replaced missing values of 'lon' with its mean
# inplace=true makes sure the values in the original data are replaced.

In [40]:
df.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                        0
lat                   107242
dtype: int64

In [43]:
#impute mode for a specific column

df['YEAR'].fillna(df['YEAR'].mode(),inplace = True)

2016.0    647803
2015.0    618727
2014.0    519427
2013.0    442114
2012.0    415607
2011.0    358767
Name: YEAR, dtype: int64

In [44]:
#Strategy for median is similar , however when a column has outliers missing values can be filled with median,
#when there are no outliers mean is used
#outliers for a column can be checked using boxplot

# 3) Forwardfill and backfill

In [46]:
# example ffill(): consider a column
#     AGE
#     12
#     NA
#     14
#     NA
#     NA
#     17
#

In [47]:
#using ffill()
#     AGE
#     12
#     12
#     14
#     14
#     14
#     17

In [48]:
#using (backward)bfill()
#     AGE
#     12
#     14
#     14
#     17
#     17
#     17

In [49]:
df_fill = df.ffill().bfill()

In [51]:
df_fill.isnull().sum() # all the missing values are filled

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64