In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\Shlagha Rastogi'

In [3]:
# Setting the current working directory
os.chdir('C:/Users/../Machine Learning')

In [4]:
# Reading the data set in a variable 'data'
data = pd.read_csv('heart.csv')

In [5]:
# Looking at a sample of the dataset
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
# Checking for null values
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
# Looking for the values in our 'target' variable. It's a logistic problem as there are only two types of solutions 
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [8]:
# Defining our Independent(X) and Dependent(y) variables
X = data.drop(['target'],1)
y = data['target']

In [9]:
# Checking for the dimensions of Independent variable data subset
X.shape

(303, 13)

In [10]:
# Scaling the Independent(X) data subset to make the algorithm to converge faster
from sklearn.preprocessing import MinMaxScaler
minmax = MinMaxScaler()

X = X.select_dtypes(include = np.number) # Here we are selecting all the numerical variables in X data subset
cols = list(X) # We are listing down the names of those variables

X = minmax.fit_transform(X) #Fitting and transforming the numerical variables to a standard format
X = pd.DataFrame(X, columns = cols) # Storing the results to a dataframe
X.head() # Checking how the datasubset looks like

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.0,0.333333
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.0,0.666667
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.0,0.666667
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.0,0.666667
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.0,0.666667

# 1. Logistic Regression

In [12]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.25, random_state = 42) # splitting in the ratio of 75:25

In [13]:
logreg_model = logreg.fit(X_train, y_train) # Fitting our model on the train set
logreg_pred = logreg.predict(X_test) # Predicting on the test set
logreg_model.score(X_test, y_test) # Calculating the score

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8552631578947368

In [16]:
from sklearn.model_selection import cross_val_score
cross_val_score(logreg, X, y, cv=5).mean() # Cross validating the model on 5-folds

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8248633879781421

# 2. KNN Classifier

In [18]:
from sklearn.neighbors import KNeighborsClassifier # Choosing the KNN 'classifier' as this is a logistic regression problem
knn = KNeighborsClassifier()

knn_model = knn.fit(X_train, y_train) # Fitting our model on the train set
knn_pred = knn.predict(X_test) # Predicting on the test set
knn_model.score(X_test,y_test) # Calculating the score

0.8289473684210527

In [19]:
cross_val_score(knn, X, y, cv = 10).mean() # Cross validating the model on 10-folds

0.814527252502781

# 3. Decision Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier # Choosing classifier DTree for logistic problem
dtc = DecisionTreeClassifier() # Fixing random-state.
# *Optional*- You can also use criterion argument-> DecisionTreeClassifier(random_state=42, criterion = "entropy")
#But it didn't show any big difference in accuracy here. So, it's totally your call whether you want to use it or not.

dtc_model = dtc.fit(X_train, y_train) # Fitting our model on the train set
dtc_pred = dtc.predict(X_test) # Predicting on the test set
dtc_model.score(X_test, y_test) # Calculating the score

0.7763157894736842

In [21]:
cross_val_score(dtc, X, y, cv = 10).mean() # Cross validating the model on 10-folds

0.7742825361512792

# 4. Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier # Choosing classifier RForest for logistic regression problem
rfc = RandomForestClassifier(random_state=42) # Fixing random-state.
# *Optional*- You can also use criterion argument-> RandomForestClassifier(random_state=42, criterion = "entropy")
#But it didn't show any big difference in accuracy here. So, it's totally your call whether you want to use it or not.

rfc_model = rfc.fit(X_train, y_train) # Fitting our model on the train set
rfc_pred = rfc.predict(X_test) # Predicting on the test set
rfc_model.score(X_test, y_test) # Calculating the score

C:\Users\Shlagha Rastogi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8157894736842105

In [24]:
cross_val_score(rfc, X, y, cv = 5).mean() # Cross validating the model on 5-folds

0.7953551912568306